

.App {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
 
}

.container{
  max-width: 1200px;
  margin: auto;
  text-align: center;
 
}

/* For the Profile Container */
.profile_cont{
  margin: 20px;
  
  
}
/* For the Profile Image */
.profile{
  margin: 0px 0px 0px 0px;
  border-radius: 275px;
  
}

/* For the Profile Names */
.profile_name{
  font-weight: 600;
  font-size: large;
}



/* div that carries all socials */
.icons{
  margin: auto;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: large;
  cursor: pointer;
 width: fit-content;

}

.icons:hover{
  color: #1DA1F2;
}

 a {
  outline: none;
  text-decoration: none;
  color: inherit;
}


/* For the Hidden slack profile item */
.slack {
  display: none;
}

/* For the Twitter Profile Item */
.twitter{
  font-size: 38px;
  color: #1DA1F2;
 
}



.btn {
  padding: 10px 32px;
  margin: 12px;
  max-width: 1152px;
  width: 100%;
  height: 76px;
  background: #EAECF0;
  border: 1px solid #EAECF0;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: #101828;
  display: flex;
  align-items: center;
  justify-content: center;


}

/* Ohemaa how's you doing */

.text{
  display: flex;
  flex-direction: column;


}

.subtext{
  font-size: 14px;
  padding: 3px;
  font-weight: normal;
}

.btn:hover {
  background: #c1c2c7;
  transition: ease-in-out;
}
.Link{
  justify-self: flex-start;
}
.bio{
  margin: 3px;
  font-size: 28px;
}

.Last_footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 10px 0px;

}

.contact-form
{
  max-width: 750px;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;


}
.contact-me{
  display: flex;
  flex-direction: column;
  text-align: left;
  align-content: space-between;
  margin-bottom: 30px;
}

.top{
 font-size: 36px;
 line-height: 44px; 
 font-weight: 600;
 margin:5px 0px;
}

.top-little{
  font-size: 20px;
  line-height: 30px; 
  
  margin:10px 0px;
 }
.main-form
{
  width: 100%;
  
}

.main-form input {
  width: 100%;
  padding: 10px 14px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 8px;
  border-color: #D0D5DD;
  border-style: solid;
  border-width: 1px;
}

input:invalid::after {
  border: 1px solid red;
}

.main-form textarea {
  width: 100%;
  padding: 12px 14px;
  margin: 8px 0;
  box-sizing: border-box;
  padding-right: 2%;
  line-height: 20px;
  font-size: 16px;
  border-radius: 8px;
  border-color: #D0D5DD;
  border-style: solid;
  border-width: 1px;
}


.main-form label {
  display: flex;
  float: left;
  width: 98%;
  flex-direction: column;
  font-size: 14px;
  line-height: 20px;
  padding:  5px 0px;
 
}
.main-form label.half{
	float: left;
	width: 50%;
}

.main-form input[type=text]{
	
  width: 96%;
	
}
.main-form label[data-error]::after {

content: attr(data-error);
}
.main-form input:focus {
  outline: none;
  border-color: #84CAFF;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  transition: ease-in-out, width .35s ease-in-out;
 
}

.main-form textarea:focus {
  outline: none;
  border-color: #84CAFF;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
  transition: ease-in-out, width .35s ease-in-out;
 
}
.main-form label span.label-text{
	
	
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
  text-align: left;
}
textarea::placeholder {
  text-decoration: none; 
  font-style: none;
  font-family: default;
  font-size: 16px;
  
}

.submit{
  background-color:#1570EF ;
  color: white;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 20px;
}
/* Responsive Designs */


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 900px) {
  .btn {
    padding: 5px 10px;
    margin: 12px 6px ;
    width: 90%;
    height: 68px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 20px;
   
  
  }
  .Last_footer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px 0px 20px;
  
  }

  .profile_cont{
    margin: 10px;
    
    
  }
  .main-form label.half{
    float: left;
    width: 100%;
  }
  .contact-form {
    
    padding:  5px 10px;
   
  }

}
@media only screen and (min-width: 1540px) {
  .contact-form
  {
    /* max-width: 1100px; */
   
  
  }
}
